
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }

  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
<<<<<<< HEAD
}

.card1{
    margin:10px;
}

.slogan {
    text-align: center;
    font: 36px/36px 'Yellowtail', cursive;
    color: #e7e6d4;
    padding-bottom: 113px;
}
=======
  }
  /* .card-img-top {
      height : 500px;
      width : 500px
  } */
>>>>>>> 24ae81633390cd315ee576ae384ef2111d3b2712
